#subscribe-to-lounge-channel

%h1 Lounge
%form#form-message.form-horizontal
  .form-group
    %label.col-sm-2.control-label{ for: "input-name" } Name
    .col-sm-4
      %input#input-name.form-control{ type: "text", value: @user.name || "Default Name" }
  .form-group
    %label.col-sm-2.control-label{ for: "input-message" } Message
    .col-sm-10
      %input#input-message.form-control{ type: "text", autofocus: true }
%hr
#messages
  - @lounge_messages.each do |message|
    .row
      .col-sm-2
        = message.created_at_to_s
      .col-sm-1
        %span.bold
          = message.user.name
      .col-sm-9
        = message.body
